/*MEDIA MEDIA APARTMENTS*/


/*MEDIA MEDIA APARTMENTS*/

@media(max-width: 1025px) and (min-width: 769px) {
    .apartments-list {
        flex-direction: column-reverse;
    }
    .popular-article {
        flex-flow: row wrap;
        justify-content: space-evenly;
        gap: 30px;
        width: auto;
        display: flex;
    }
    .popular-article .popular-rest-stars i {
        background-color: transparent;
        padding: 55px 0 0px 0;
    }
    .popular article {
        width: 70%;
    }
    .activity-marseille {
        flex-direction: column;
    }
    .activity-marseille div {
        height: 210px;
    }
    .activity-marseille h4 {
        padding: 9px 0px 0px 19px;
    }
    .first img {
        height: 75%;
    }
    .third img {
        height: 75%;
    }
}


/*MEDIA MEDIA APARTMENTS*/