@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
/*toujours mettre en haut*/
/* j'importe ma selection de police de google font en suivant la fiche synthèse*/
* {/* l'étoile permet de tout séléctionné on parle de WILDCARD*/
    box-sizing: border-box;
    /*box-sizing définit hauteur et largeur totale d'un élément*/
    /*border-box indique au navigateur de prendre en compte bordure et remplissage 
    dans la valeur définie pour la largeur et la hauteur*/
    font-family :"Raleway","sans-serif";/*police Raleway pour toute la page ainsi qu'une font fallback en cas 
    ou cette police ne marche ou si il y a problème, sans-serif étant la police de dernier recours pour tout site web*/
}

a{
    
    color:black;/*couleur noir pour les liens d'hébergements et d'activités*/
    text-decoration:none;/*j'enlève le surlignage*/

}


/*# pour attribuer un id pour pouvoir modifier les propriétés de l'unique icône*/

#logo {
   
    margin-right: auto;/*margin définit les tailles de marges et right les côtés droit et gauches*/
    padding: 0 32px;
   /*padding pour écarts de remplissage sur les quatre côtés*/
    /*le 0 pour aucun changement haut et bas et 2 pour écart vertical*/
    /*rem pour unités plus flexibles et offrent plus de responsivité et
    de lisibilités aux applications, 1 rem = 16px etc...*/
}

nav{
   
    display: flex;/*display définit le type d'affichage pour le rendu d'un élément / flex remplit l'espace disponible de son conteneur*/
    align-items:center;/*aligne l'objet au sein de son conteneur / center pour le centre du conteneur*/
    justify-content: flex-end;/*justifie entre et autour des éléments dans le conteneur / éléments flexibles groupés à la fin*/
    flex-wrap: wrap;/*En fonction de la redimension de la page mes liens vont à ligne de manière liénaire au lieu de suivre le logo vers la gauche de la page*/
}

nav a{

    padding: 2rem;/*padding de 2 partout pour les liens dans nav*/
    border-top: 3px solid transparent;/*bordure haute des menus transparents à l'affichage*/

}
                                    /*hover pour survolage */
nav a:hover{

    border-top: 3px solid #0065fc;/*bordure haute devient bleu au survolage des menus en haut*/

}

.nav-button{

    font-weight: bold;
    color:black;

}

.nav-button:hover{

    font-weight: bold;
    color:#0065fc;

}
               
                            /*c'est une media queries qui réagit quand on entre sur un écran au dessous de 800px*/
@media (max-width: 768px)  
{
    .sub-nav{
       
        flex-basis: 100%;/* 100% de flexibilité sur la taille des menus en taille 768px ou moins*/
        display:flex;

    }
    
    .sub-nav a{

        flex-basis: 50%;/*flexibilité 50% pour les deux menus remplissent la moitié d'un écran 800 px ou moins*/
        text-align: center;/*aligner le texte et centrer*/
         border-bottom: 3px solid #f2f2f2;/*bordure basse grise*/
       
    }
    
    .sub-nav a:hover{/*menu 800px ou moins survolage*/

        color: #0065fc;/*survolage afficher en bleu*/
        border-top: 3px solid transparent;/*bordure haute transparente */
        border-bottom: 3px solid #0065fc;/*bordure basse bleu */

    }

}
/*QUERIES QUERIES QUERIES QUERIES QUERIES QUERIES QUERIES QUERIES*/
.sub-nav a{
    flex-basis: 50%;/*flexibilité 50% pour les deux menus remplissent la moitié d'un écran 800 px ou moins*/
    text-align: center;/*aligner le texte et centrer*/
   
}
/*FIN DE NAVBAR FIN DE NAVBAR FIN DE NAVBAR FIN DE NAVBAR FIN DE NAVBAR FIN DE NAVBAR FIN DE NAVBAR FIN DE NAVBAR FIN DE NAVBAR*/

.Titre_recherche{

    padding:0 2rem;

}


.Titre_recherche h1{

    margin-bottom: 0.1rem;
}

.Titre_recherche p{

    margin-bottom: 2rem;
}

/*variable i+imput+search*/

.search-form{

    padding-left: 1.9rem;/*marge 1.9rem pour égaliser avec le reste*/
    border: 1px solid lightgrey flex;/*5135241683541354168352415*/
    display: flex;/*pour adapter le flex i+imput+search*/

}

/*barre de recherche imput*/

.search-form .imput{

    overflow: auto;/*adapte sa longueur en fonction de la taille d'écran pour ne pas dépasser*/
}

/*affichage du boutton quand on survole*/

.search-form button:hover{

    opacity: 1;/*bleu plus foncé quand on pose la souris dessus*/
    transform: scale(1.03);/*grossit de 1.03 quand la souris est dessus*/
    transition: transform 200ms;/* met 200 milli sec à faire tout le changement */

}

/*icône maps*/

i{
    padding: 0.8rem 1rem;/*écart 0.8/1*/
    background-color: lightgrey;/*arrière-plan couleur gris clair*/
    border-radius: 0.8rem 0rem 0rem 0.8rem;/*bordures arrondies 0.8 haut gauche / 0 haut droite/ 0 bas droite /0.8 bas gauche*/
    border: none;
  
}

/*boutton rechercher*/
button{
    border-radius: 0rem 0.8rem 0.8rem 0rem;/*bordure arrondies en haut a droite et bas droite*/
    color: white;/*couleur du texte blanc sur le boutton*/
    background-color:#0065fc;/*couleur arrière-plan du boutton rechercher en bleu*/
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

/*texte quand le champ de saisie est vide*/
::placeholder{

    color: black;/*couleur grise*/
    font-weight: bold;/*gras*/
    font-size: 0.8rem;/*taille 0.8 rem*/

}

/*icône loupe*/

.fas.fa-search{

     display: none;/*pas afficher la loupe en taille pc*/

}


/*fin de media queries 800pxfin de media queries 800px*/

/*FILTERS FILTERS FILTERS FILTERS FILTERS FILTERS*/

.filter

{
    display: flex;/*aligné et non chacun à la ligne*/
    margin-top: 32px;/* marge haute 32px pour ajuster*/
    flex-wrap: wrap;

}

.filter_itemTitle

{
    
    margin: 0 32px 16px 0;/*marger les titres des filtres*/
    display: flex;/* aligner FILTRES avec le reste*/
    align-items: center;/*centrer*/
    
}

.filter_item

{

    display: flex;/*aligner les span avec les icônes*/
    align-items: center;/*centrer les span avec les icônes*/
    margin-right: 32px;/* ajoute de marge droite entre chaque filtres*/
    border: 2px solid #d3d3d3;/*bordure grise 2px solid*/
    border-radius: 32px;/*arrondie*/
    cursor: pointer;/*le pointer quand on arrive dessus*/
    transition-duration: 0.1s;/*transition sur le filtre*/
    font-weight: bold;/*gras*/

}

.filter_item:hover
{

    color:black;/*noir sur le hover sur caractère*/
    opacity: 1;
    transform: scale(1.015);/*EFFET*/
    background-color: #DEEBFF;/*COULEUR arriere plan en hover*/

}

.filter_itemsIcon
{
    color: #0065fc;

    background-color: #DEEBFF;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    opacity: 0.7;

}

.filter_itemTxt
{

    margin: 0 16px;

}

/*FILTERS FILTERS FILTERS FILTERS FILTERS FILTERS*/

/*RESULTS MESSAGE RESULTS MESSAGE RESULTS MESSAGE RESULTS MESSAGE */

.results-message{
    
    display: flex;
    align-items: center;/*alignement vertical*/
    
 }

 .results-message .fas{
     
     color: blue;
     width: 2rem;
     height: 2rem;
     border : 1px solid #d9d9d9;/*d9d9d9*/
    border-radius: 50%;/*cercle 50 pourcent*/
    display:flex;/*les 3 frangins */
    align-items: center;/*pour tout centrer*/
    justify-content: center;/*toujours ensemble*/
    margin-bottom: 1rem;/*marge basse 16 px*/
    margin-right: 0.5rem;/*marge droite 0.5*/

}

/*RESULTS MESSAGE RESULTS MESSAGE RESULTS MESSAGE RESULTS MESSAGE */

/*APARTMENTS-LIST APARTMENTS-LIST APARTMENTS-LIST */

.apartments-list{

    display: flex;
    gap: 1rem;

}




.apartments-list > div{
    
    border: 1px solid white;
    background-color: #f2f2f2;
    border-radius: 1rem;
    
    
}


.apartments-list .city{

    flex-basis: 66%;/*2 fractions de l'écran*/

}


.apartments-list .city a{
    
    font-weight: bold;

}


.apartments-list .popular{

    flex-basis: 33%;/*1 fraction de l'écran*/

}


.city-apartments-list{

    display: flex;/*flex sur la liste city*/
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    margin-bottom: 1rem;

}

.city-apartments-list div{

    
    flex-basis: calc(33%-1rem);
    
}

.apartments-list .popular-flex{

    display: flex;
    flex-direction: column;
    gap: 1rem;

    
}

.apartments-list .popular-flex div{
    
    border: 1px solid blue;
    display: flex;

}

.apartments-list h3{
    
    flex-basis: 100%;
    margin-left: 1rem;

}


.city-apartments-list i{
    
    padding-right: 0.1px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/*ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES */
.blue{
    
    color: blue;
    background-color: white;
    padding-left: 0rem;
    margin:0 0.1rem 0 0.1rem;

}

.grey{

    color: darkgrey;
    background-color: white;
    padding-left: 0rem;
    margin:0 0.1rem 0 0.1rem;

}

/*ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES */

.city-apartments-list {
    
    background-color: #f2f2f2; 
    padding: 0.5rem;
    
    
}

.city-apartments-list img{
    
    border-radius: 1rem 1rem 0 0;
    width: 15rem;
    height: 10rem;

}

.city .city-apartments-list article{
    
    border: 1px solid white;
    padding : 4.8px;
    margin-bottom:auto;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 0 16px #0000002e;
    
}

.city-apartments-list p{
    
    margin: 1.6px 0 1.6px 12.8px;
    
}





.popular-flex img{
    
    border-radius: 1rem 1rem 0 0;
    width: 7rem;
    height: 7rem;

}

.popular-flex article{
    
    border: 1px solid white;
    padding : 0.3rem;
    margin-bottom:auto;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 0 1rem #0000002e;
    width: auto;
    height: auto;

}

.popular-flex {
    
    background-color: #f2f2f2; 
    padding: 0.5rem;
    display: flex;

}

/*    ACTIVITES A MARSEILLE ACTIVITES A MARSEILLE ACTIVITES A MARSEILLE*/  

.activity-marseille{
    
    display: flex;
    background-color: #f2f2f2;
    border: 2px solid blue;
    border-radius: 1rem;
    
}

.first img{

    height: 10rem;
    width: 10rem;
    
}

.second{
    
}

.third{
    
}

.fourth{
    
    
}

.fifth{
    
    
}

.sixth{
    
    
    /*media queries 800px*/
    @media (max-width: 800px){
        .search-form .Titre_recherche{
            display: none;/*enlever le boutton rechercher quand on reduit l'écran*/
            
        }
        
        /*icône loupe*/
        .fas.fa-search{
            display: inline;/*affiche la loupe aligné avec le reste*/
            color: white;/* en blanc*/
            background-color: #0065fc;/* avec fond bleu*/
        }
    }
    
    /*MEDIA MEDIA APARTMENTS*//*MEDIA MEDIA APARTMENTS*/
    
    @media(max-width: 800px){
        
        .apartments-list{
            
            flex-direction: column;
        }
        .apartments-list .popular-flex{
            order: -1;
        }
    }
    /*MEDIA MEDIA APARTMENTS*//*MEDIA MEDIA APARTMENTS*/
}