@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

/*toujours mettre en haut*/
/* j'importe ma selection de police de google font en suivant la fiche synthèse*/
* {/* l'étoile permet de tout séléctionné on parle de WILDCARD*/
    box-sizing: border-box;
    /*box-sizing définit hauteur et largeur totale d'un élément*/
    /*border-box indique au navigateur de prendre en compte bordure et remplissage 
    dans la valeur définie pour la largeur et la hauteur*/
    font-family :"Raleway","sans-serif";/*police Raleway pour toute la page ainsi qu'une font fallback en cas 
    ou cette police ne marche ou si il y a problème, sans-serif étant la police de dernier recours pour tout site web*/
}

a{
    
    color:black;/*couleur noir pour les liens d'hébergements et d'activités*/
    text-decoration:none;/*j'enlève le surlignage*/

}


/*# pour attribuer un id pour pouvoir modifier les propriétés de l'unique icône*/

#logo {
   
    margin-right: auto;/*margin définit les tailles de marges et right les côtés droit et gauches*/
    padding: 0 32px;
   /*padding pour écarts de remplissage sur les quatre côtés*/
    /*le 0 pour aucun changement haut et bas et 2 pour écart vertical*/
    /*rem pour unités plus flexibles et offrent plus de responsivité et
    de lisibilités aux applications, 1 rem = 16px etc...*/
    height: 80px;/*taille de l'icône BOOOKI*/
}

nav{
   
    display: flex;/*display définit le type d'affichage pour le rendu d'un élément / flex remplit l'espace disponible de son conteneur*/
    align-items:center;/*aligne l'objet au sein de son conteneur / center pour le centre du conteneur*/
    justify-content: flex-end;/*justifie entre et autour des éléments dans le conteneur / éléments flexibles groupés à la fin*/
    flex-wrap: wrap;/*En fonction de la redimension de la page mes liens vont à ligne de manière liénaire au lieu de suivre le logo vers la gauche de la page*/
}

nav a{

    padding: 2rem;/*padding de 2 partout pour les liens dans nav*/
    border-top: 3px solid transparent;/*bordure haute des menus transparents à l'affichage*/

}
                                    /*hover pour survolage */
nav a:hover{

    border-top: 3px solid #0065fc;/*bordure haute devient bleu au survolage des menus en haut*/

}

.nav-button{

    color:black;

}

.nav-button:hover{

    font-weight: bold;
    color:#0065fc;

}
               
                            /*c'est une media queries qui réagit quand on entre sur un écran au dessous de 800px*/
@media (max-width: 768px)  
{
    .sub-nav{
       
        flex-basis: 100%;/* 100% de flexibilité sur la taille des menus en taille 768px ou moins*/
        display:flex;

    }
    
    .sub-nav a{

        flex-basis: 50%;/*flexibilité 50% pour les deux menus remplissent la moitié d'un écran 800 px ou moins*/
        text-align: center;/*aligner le texte et centrer*/
         border-bottom: 3px solid #f2f2f2;/*bordure basse grise*/
       
    }
    
    .sub-nav a:hover{/*menu 800px ou moins survolage*/

        color: #0065fc;/*survolage afficher en bleu*/
        border-top: 3px solid transparent;/*bordure haute transparente */
        border-bottom: 3px solid #0065fc;/*bordure basse bleu */

    }

}
/*QUERIES QUERIES QUERIES QUERIES QUERIES QUERIES QUERIES QUERIES*/
.sub-nav a{
    flex-basis: 50%;/*flexibilité 50% pour les deux menus remplissent la moitié d'un écran 800 px ou moins*/
    text-align: center;/*aligner le texte et centrer*/
   
}
/*FIN DE NAVBAR FIN DE NAVBAR FIN DE NAVBAR FIN DE NAVBAR FIN DE NAVBAR FIN DE NAVBAR FIN DE NAVBAR FIN DE NAVBAR FIN DE NAVBAR*/

.Titre_recherche{

    padding:0 2rem;

}


.Titre_recherche h1{

    margin-bottom: 0.1rem;
}

.Titre_recherche p{

    margin-bottom: 2rem;
}

/*variable i+imput+search*/

.search-form{

    border: 1px solid lightgrey flex;/*5135241683541354168352415*/
    display: flex;/*pour adapter le flex i+imput+search*/
    height: 50px;
   

}

/*barre de recherche imput*/

.search-form .imput{
    border: 1px solid #F2F2F2;/*bordure du imput en lightgrey*/
    overflow: auto;/*adapte sa longueur en fonction de la taille d'écran pour ne pas dépasser*/
}

/*affichage du boutton quand on survole*/

.search-form button:hover{

    opacity: 1;/*bleu plus foncé quand on pose la souris dessus*/
    transform: scale(1.03);/*grossit de 1.03 quand la souris est dessus*/
    transition: transform 200ms;/* met 200 milli sec à faire tout le changement */

}

/*icône maps*/

i{
    padding: 1rem 1rem;/*écart 0.8/1*/
    background-color: #f2f2f2;/*arrière-plan couleur gris clair*/
    border-radius: 0.8rem 0rem 0rem 0.8rem;/*bordures arrondies 0.8 haut gauche / 0 haut droite/ 0 bas droite /0.8 bas gauche*/
    border: none;
  
}

/*boutton rechercher*/
button{
    border-radius: 0rem 0.8rem 0.8rem 0rem;/*bordure arrondies en haut a droite et bas droite*/
    color: white;/*couleur du texte blanc sur le boutton*/
    background-color:#0065fc;/*couleur arrière-plan du boutton rechercher en bleu*/
    border: none;
    cursor: pointer;
    opacity: 0.9;
    font-weight: bold;
    font-size: medium;
}

/*texte quand le champ de saisie est vide*/
::placeholder{

    color: black;/*couleur grise*/
    font-weight: bold;/*gras*/
    font-size: 0.8rem;/*taille 0.8 rem*/

}

/*icône loupe*/

.fas.fa-search{

     display: none;/*pas afficher la loupe en taille pc*/

}


/*fin de media queries 800pxfin de media queries 800px*/

/*FILTERS FILTERS FILTERS FILTERS FILTERS FILTERS*/

.filter

{
    display: flex;/*aligné et non chacun à la ligne*/
    margin-top: 32px;/* marge haute 32px pour ajuster*/
    flex-wrap: wrap;
  
  

}

.filter_itemTitle

{
    
    margin:8px 16px 16px 8px ;/*marger les titres des filtres*/
    display: flex;/* aligner FILTRES avec le reste*/
    align-items: center;/*centrer*/
    
}

.filter_item

{

    display: flex;/*aligner les span avec les icônes*/
    align-items: center;/*centrer les span avec les icônes*/
    margin-right: 32px;/* ajoute de marge droite entre chaque filtres*/
    border: 2px solid #d3d3d3;/*bordure grise 2px solid*/
    border-radius: 32px;/*arrondie*/
    cursor: pointer;/*le pointer quand on arrive dessus*/
    transition-duration: 0.1s;/*transition sur le filtre*/
    font-weight: bold;/*gras*/

}

.filter_item:hover
{
    border: 2px solid #DEEBFF;
    color:black;/*noir sur le hover sur caractère*/
    opacity: 1;
    transform: scale(1.015);/*EFFET*/
    background-color: #DEEBFF;/*COULEUR arriere plan en hover*/

}

.filter_itemsIcon
{
    color: #0065fc;

    background-color: #DEEBFF;
    border-radius: 100%;
    height: 52px;
    width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    opacity: 1;

}

.filter_itemTxt
{

    margin: 0 16px;

}

/*FILTERS FILTERS FILTERS FILTERS FILTERS FILTERS*/

/*RESULTS MESSAGE RESULTS MESSAGE RESULTS MESSAGE RESULTS MESSAGE */

.results-message{
    
    display: flex;
    align-items: center;/*alignement vertical*/
    
 }

 .results-message .fas{
     
     color: #0065FC;
     width: 2rem;
     height: 2rem;
     border : 1px solid #d9d9d9;/*d9d9d9*/
    border-radius: 50%;/*cercle 50 pourcent*/
    display:flex;/*les 3 frangins */
    align-items: center;/*pour tout centrer*/
    justify-content: center;/*toujours ensemble*/
    margin-bottom: 1rem;/*marge basse 16 px*/
    margin-right: 0.5rem;/*marge droite 0.5*/
    background-color: white;

}

/*RESULTS MESSAGE RESULTS MESSAGE RESULTS MESSAGE RESULTS MESSAGE */

/*APARTMENTS-LIST APARTMENTS-LIST APARTMENTS-LIST */

.apartments-list{

    display: flex;
    gap: 1rem;

}




.apartments-list > div{
    
    border: 1px solid white;
    background-color: #f2f2f2;
    border-radius: 1rem;
    
    
}


.apartments-list .city{

    flex-basis: 66%;/*2 fractions de l'écran*/
    padding: 25px;
}


.apartments-list .city span{
    
    font-weight: bold;

}


.apartments-list .popular{

    flex-basis: 33%;/*1 fraction de l'écran*/
    padding: 25px;
}


.city-apartments-list{

    display: flex;/*flex sur la liste city*/
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    margin-bottom: 1rem;

}

.city-apartments-list div{

    
    flex-basis: calc(33%-1rem);
    
}



.popular-flex h4{

    font-size: large;
    padding-left: 10px;

}

.popular-flex p{

    padding-left: 10px;

}

.apartments-list .popular-flex{

    display: flex;
    flex-direction: column;
    gap: 1rem;

    
}

.apartments-list .popular-flex div{

    display: flex;

}

.apartments-list h3{

    flex-basis: 100%;
    margin-left: 2rem;
    font-size: x-large;

}


.city-apartments-list i{

    padding-right: 0.1px;
    padding-top: 0px;
    padding-bottom: 0px;

}

/*ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES */
.blue{

    color: #0065FC;
    background-color: white;
    padding-left: 0rem;

}

.grey{

    color: lightgray;
    background-color: white;
    padding-left: 0rem;
    margin:0 0.1rem 0 0.1rem;

}

/* FINNNNN ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES ETOILES */

.city-apartments-list {

    background-color: #f2f2f2; 
    padding: 0.5rem;

}

.city-apartments-list img{

    border-radius: 1rem 1rem 0 0;
    width: 15rem;
    height: 10rem;

}

.city .city-apartments-list article{

    border: 1px solid white;
    padding : 4.8px;
    margin-bottom:auto;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 0 16px #0000002e;

}

.city-apartments-list p{
    
    margin: 1.6px 0 1.6px 12.8px;
    
}

/*LES PLUS POPULAIRES*//*LES PLUS POPULAIRES*//*LES PLUS POPULAIRES*//*LES PLUS POPULAIRES*//*LES PLUS POPULAIRES*//*LES PLUS POPULAIRES*/

.afficher-plus{

    padding: 0 0 16px 35px;

}

/*AFFICHAGE EN COLONNE HAUT VERS LE BAS*/
.popular-fix-a{

    display:flex;
    flex-direction: column;
}

/*ARRIERE PLAN GRIS ARRONDI*/
.popular-flex {
    
    border-radius: 1rem;
   
}


/*LES 3 ARTICLES A DROITE*/
.popular-flex article{
    
    border: 1px solid white;
    padding : 0.3rem;
    margin-bottom:auto;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 0 1rem #0000002e;
  

    

}


/*direction des 2 div dans l'article*/
.popular-fix-a1 {
    flex-direction: row;
}
/*image 100% de la hauteur de la div bordures arrondies*/
.popular-fix-a1 img{
    height: 100%;
    border-radius: 1rem 0 0 1rem;
    width:8.5rem;

}
/*marge 0*/
.popular-fix-a{
    margin: 0;
    
}
/*marge 0 pour le H3*/
.popular-fix-a h3{
    margin: 0;
}
/*marge 0 pour les paragraphes*/
.popular-fix-a p{
    margin: 0;
}
/*marge 0 pour les étoiles restent collées*/
.popular-fix-a .blue{
    padding:0;
}


/*ARRIERE PLAN DU CARRE*/
.popular-flex {
    
    background-color: #f2f2f2; 
    padding: 0.5rem;
    display: flex;

}


/*    ACTIVITES A MARSEILLE ACTIVITES A MARSEILLE ACTIVITES A MARSEILLE*/  

.main-marseille{
    height: 650px;
    max-height: 650px;
    margin-left: 50px;
    margin-right: 50px;
}

/*H2 activités à Marseille*/
h2{
    margin-left: 1rem;
}
/*H2 activités à Marseille*/

/*Labels sur groupe d'image*/
.activity-marseille h4{
    font-weight: bold;
    font-size: large;
    margin:0%;
    padding: 8px 0 0 25px;
}

/*Labels sur groupe d'image*/

.main-marseille .activity-marseille{
    height: 575px;
    max-height: 575px;
    gap: 2rem;
    background-color: white; 
    display: flex;/*pour que les images s'alignent correct*/
}


.main-marseille .activity-marseille div{
    display: flex;/*aligner toute les images*/
    width:100%;
    box-shadow: 0 0 1rem #0000002e;
    border-radius: 1rem;
}
/*dimension des sections*/
.activity-marseille section{
    height: 575px;
    max-height: 575px;
    width:100%;
}

/*config image partie 1*/
.first img{
    height: 90%;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}

/*partie 2 séparée en 2*/
.second-a div{
    display: flex;
    flex-basis: 60%;
    
}

.second-b div{
    flex-basis: 40%;
}

/*partie 2 img config*/
.second-a img{
    height: 80%;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}

.second-b img{
    height: 80%;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}

/*config image partie 3*/
.third img{
    height: 90%;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}

.fourth-part-a img{
    height: 80%;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}

/*partie 4 séparée en 2*/
.fourth-part-a div{
    height: 286px;
    max-height: 286px;
}



    /*media queries 800px*/
@media (max-width: 800px){
        .search-form .Titre_recherche{
            display: none;/*enlever le boutton rechercher quand on reduit l'écran*/
            
        }
        
        /*icône loupe*/
        .fas.fa-search{
            display: inline;/*affiche la loupe aligné avec le reste*/
            color: white;/* en blanc*/
            background-color: #0065fc;/* avec fond bleu*/
        }
}
    
    /*MEDIA MEDIA APARTMENTS*//*MEDIA MEDIA APARTMENTS*/
    
@media(max-width: 800px){
        
        .apartments-list{
            
            flex-direction: column;
        }
        .apartments-list .popular-flex{
            order: -1;
        }
}
    /*MEDIA MEDIA APARTMENTS*//*MEDIA MEDIA APARTMENTS*/

footer{
    background-color: #F2F2F2;
    width: 100%;
    display:flex;
    flex-basis: 30%;
    justify-content: space-evenly;
    font-size: medium;
    padding: 1rem;
    margin-top: 2rem;
}

